* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #e0e0e0; 
    display: flex;
    justify-content: center;
}
.app-container {
    width: 100%;
    max-width: 414px; 
    min-height: 100vh;
    background-color: #fafaf5;
    position: relative;
    padding-bottom: 80px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.app-header {
    background: linear-gradient(120deg, #ffea00 0%, #302107 100%);
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(0, 0, 0);
}
.user-info p {
    font-size: 14px; 
    opacity: 0.9; 
    margin-bottom: 4px;
}
.user-info h1 {
    font-size: 24px; 
    margin-bottom: 8px;
}

.btn-notification {
    background: rgba(255,255,255,0.2);
    border: none;
    width: 40px; height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.balance-card {
    background: linear-gradient(135deg, #ffea00 0%, #252603 100%);
    margin: 20px 20px 20px; 
    padding: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 20px rgba(188, 230, 0, 0.2);
}
.wallet-icon { 
    background: rgba(255,255,255,0.2); 
    padding: 10px; 
    border-radius: 12px;
    margin-right: 12px; 
}
.btn-eye { 
    margin-left: auto; 
    background: rgba(255,255,255,0.2); 
    border: none;
     width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    color: white; 
    cursor: pointer; 
}
.card-top { 
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}
.amount { 
    font-size: 32px; 
    font-weight: 700; 
    margin-bottom: 20px; 
    border-bottom: 1px solid rgba(255,255,255,0.2); 
    padding-bottom: 20px; 
}
.services-section{
    padding: 0 20px;
}
.section-title {
    font-size: 16px; 
    color: #333; 
    margin: 20px 0 15px; 
    font-weight: 600; 
}

.icon-box { 
    width: 50px; 
    height: 50px; 
    border-radius: 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 20px; 
    margin: 0 auto; 
}
.icon-box.green {
     background: #e8f5e9; 
     color: #2e7d32; 
    }
.icon-box.blue { 
    background: #e3f2fd; 
    color: #1565c0; 
}
.icon-box.purple { 
    background: #f3e5f5; 
    color: #7b1fa2; 
}
.icon-box.orange {
     background: #fff3e0; 
     color: #e65100;
}
.icon-box.indigo { 
    background: #e8eaf6; 
    color: #283593; 
}
.services-grid { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    text-align: center; 
}
.service-item p { 
    font-size: 11px; 
    margin-top: 8px;
     color: #555; 
}
.empty-state { 
    background: white; 
    padding: 40px 20px; 
    border-radius: 16px; 
    text-align: center; 
    color: #999; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.02); 
}
.empty-state i { 
    font-size: 40px; 
    color: #ccc; 
    margin-bottom: 15px; 
}
.bottom-nav { position: absolute; bottom: 0; width: 100%; height: 70px; background: white; display: flex; justify-content: space-around; align-items: center; border-top: 1px solid #eee; border-radius: 20px 20px 0 0; }
.nav-item { text-decoration: none; color: #999; display: flex; flex-direction: column; align-items: center; font-size: 12px; font-weight: 500; }
.nav-item.active { color: #514c02; }
.nav-item i { font-size: 20px; margin-bottom: 5px; }

/* Nút Scan ở giữa */
.scan-btn { position: relative;
     top: -20px; 
    }
.scan-circle { 
    width: 55px; 
    height: 55px; 
    background: linear-gradient(135deg, #faf79b 0%, #452a00 100%); 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 5px; 
    border: 4px solid #f5f6fa; 
    box-shadow: 0 5px 15px rgba(230, 207, 0, 0.3); 
}
.scan-circle i { color: white; font-size: 24px; margin: 0; }