* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #e0e0e0; 
    display: flex;
    justify-content: center;
}


.app-container {
    width: 100%;
    max-width: 414px;
    height: 820px; 
    background-color: #392802;
    position: relative;
    border-radius: 24px; 
    border: none; 
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1); 
    
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
}


.back-navigation {
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
}

.btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #000000;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.btn-back:hover {
    background-color: #ffea00; 
    color: #252603;
    transform: translateX(-3px); 
}

.btn-back i {
    font-size: 18px;
}


.brand-title {
    text-align: center; 
    color: #ffc800; 
    margin-top: 15px; 
}

.brand-subtitle {
    text-align: center; 
    color: rgb(255, 162, 0);
    font-size: 14px;
    margin-bottom: 20px;
}


.Forgot-card {
    background: #fffffff3;
    width: calc(100% - 40px); 
    max-width: 374px;
    padding: 25px 20px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(102, 110, 153, 0.15);
    margin: 10px auto;
}

.Forgot-card h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}

.forgot-desc {
    text-align: center;
    font-size: 13px;
    color: #666;
    margin-bottom: 25px;
    line-height: 1.5;
}


.in_gr {
    margin-bottom: 25px;
}

.in_gr label {
    display: block;
    margin-bottom: 6px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.in_wrapper {
    position: relative;
}

.in_wrapper i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999;
}

.in_wrapper input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    outline: none;
    transition: 0.3s;
    font-size: 14px;
}

.in_wrapper input:focus {
    border-color: #ffea00; 
    box-shadow: 0 0 5px rgba(255, 234, 0, 0.3);
}


.btn-submit {
    width: 100%;
    padding: 14px;
    background: #252603; 
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    margin-bottom: 20px;
}

.btn-submit:hover {
    background: #ffea00; 
    color: #252603;
}


.back-to-login {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.back-to-login a {
    color: rgb(255, 162, 0);
    text-decoration: none;
    font-weight: 600;
}

.back-to-login a:hover {
    text-decoration: underline;
}